1 - Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. Dada uma variável k em uma célula calcular a tabuada para o número. A saída deve ser conforme o exemplo abaixo:

In [3]:
k = int(input("Insira o número:\n"))

for i in range(10):
  i += 1
  print(f"{i} x {k}: {i*k}")

Insira o número:
5
1 x 5: 5
2 x 5: 10
3 x 5: 15
4 x 5: 20
5 x 5: 25
6 x 5: 30
7 x 5: 35
8 x 5: 40
9 x 5: 45
10 x 5: 50

2 - Utilize uma estrutura de repetição para imprimir todos os elementos das listas de temperatura e altura criadas acima.
(Estão em um arquivo diferente, por isso serão redefinidas)

In [20]:
countries_temperatures = {
    "USA": 28,
    "Brazil": 32,
    "Canada": 15,
    "Germany": 18,
    "Australia": 26,
    "Japan": 22,
    "India": 35,
    "Russia": 10,
    "South Africa": 30,
    "France": 20
}

In [19]:
countries_heights = {
    "USA": 175,
    "Brazil": 173,
    "Canada": 178,
    "Germany": 180,
    "Australia": 177,
    "Japan": 171,
    "India": 165,
    "Russia": 178,
    "South Africa": 167,
    "France": 175
}

In [21]:
for country,value in countries_temperatures.items():
 print(country, value)
for country, value in countries_heights.items():
 print(country, value)

USA
Brazil
Canada
Germany
Australia
Japan
India
Russia
South Africa
France
USA
Brazil
Canada
Germany
Australia
Japan
India
Russia
South Africa
France

3 - Acesse chaves e valores do dicionário criado acima, e imprima cada item utilizando o operador de formatação.

In [24]:
for country,value in countries_temperatures.items():
 print(f"País: {country} - Temperatura: {value}")
for country, value in countries_heights.items():
 print(f"País: {country} - Altura: {value}")

País: USA - Temperatura: 28
País: Brazil - Temperatura: 32
País: Canada - Temperatura: 15
País: Germany - Temperatura: 18
País: Australia - Temperatura: 26
País: Japan - Temperatura: 22
País: India - Temperatura: 35
País: Russia - Temperatura: 10
País: South Africa - Temperatura: 30
País: France - Temperatura: 20
País: USA - Altura: 175
País: Brazil - Altura: 173
País: Canada - Altura: 178
País: Germany - Altura: 180
País: Australia - Altura: 177
País: Japan - Altura: 171
País: India - Altura: 165
País: Russia - Altura: 178
País: South Africa - Altura: 167
País: France - Altura: 175