1 - Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. Dada uma variável k em uma célula calcular a tabuada para o número. A saída deve ser conforme o exemplo abaixo:

In [ ]:
k = int(input("Insira o número:\n"))

for i in range(10):
  i += 1
  print(f"{i} x {k}: {i*k}")

Insira o número:
5
1 x 5: 5
2 x 5: 10
3 x 5: 15
4 x 5: 20
5 x 5: 25
6 x 5: 30
7 x 5: 35
8 x 5: 40
9 x 5: 45
10 x 5: 50

2 - Utilize uma estrutura de repetição para imprimir todos os elementos das listas de temperatura e altura criadas acima.
(Estão em um arquivo diferente, por isso serão redefinidas)

In [ ]:
countries_temperatures = {
    "USA": 28,
    "Brazil": 32,
    "Canada": 15,
    "Germany": 18,
    "Australia": 26,
    "Japan": 22,
    "India": 35,
    "Russia": 10,
    "South Africa": 30,
    "France": 20
}

In [ ]:
countries_heights = {
    "USA": 175,
    "Brazil": 173,
    "Canada": 178,
    "Germany": 180,
    "Australia": 177,
    "Japan": 171,
    "India": 165,
    "Russia": 178,
    "South Africa": 167,
    "France": 175
}

In [ ]:
for country,value in countries_temperatures.items():
 print(country, value)
for country, value in countries_heights.items():
 print(country, value)

USA
Brazil
Canada
Germany
Australia
Japan
India
Russia
South Africa
France
USA
Brazil
Canada
Germany
Australia
Japan
India
Russia
South Africa
France

3 - Acesse chaves e valores do dicionário criado acima, e imprima cada item utilizando o operador de formatação.

In [ ]:
for country,value in countries_temperatures.items():
 print(f"País: {country} - Temperatura: {value}")
for country, value in countries_heights.items():
 print(f"País: {country} - Altura: {value}")

País: USA - Temperatura: 28
País: Brazil - Temperatura: 32
País: Canada - Temperatura: 15
País: Germany - Temperatura: 18
País: Australia - Temperatura: 26
País: Japan - Temperatura: 22
País: India - Temperatura: 35
País: Russia - Temperatura: 10
País: South Africa - Temperatura: 30
País: France - Temperatura: 20
País: USA - Altura: 175
País: Brazil - Altura: 173
País: Canada - Altura: 178
País: Germany - Altura: 180
País: Australia - Altura: 177
País: Japan - Altura: 171
País: India - Altura: 165
País: Russia - Altura: 178
País: South Africa - Altura: 167
País: France - Altura: 175

4 - Funções
1 - Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 127 -> 721.

In [28]:
def reverse(original)
  original_str = str(original)[::-1]
  print(original_str)

original = int(input("Insira um número:"))
reverse(original)

Insira um número:7484
4847

2 - Faça uma função para converter, que dado um valor numérico de temperatura e um valor de caractere para a escala (Celsius ou Farenheit) converta o número para a escala desejada e retorna o valor.

In [31]:

def convert_temperature(temperature, scale):
  if scale.upper() == 'C':
    return (temperature - 32) * 5 / 9
  elif scale.upper() == 'F':
    return (temperature * 9 / 5) + 32
  else:
    return "Escala inválida. Utilize 'C' para Celsius ou 'F' para Fahrenheit."

temperature = int(input("Insira uma temperatura:"))
scale = input("Insira a escala (C/F):")
print(convert_temperature(temperature, scale))

Insira uma temperatura:32
Insira a escala (C/F):C
0.0

3 - Faça uma programa que converta da notação de 24 horas para a notação de 12 horas. Por exemplo, o programa deve converter 14:25 em 2:25 P.M. A entrada é dada em dois inteiros.

In [53]:
horas_24 = int(input("Insira as horas:"))
minutos_24 = int(input("Insira os minutos:"))

def convert24_12(horas_24,minutos_24):
  horas_12 = horas_24 % 12
  notation ="P.M" if horas_24 >= 13 else "A.M"

  if minutos_24 > 60:
    if(horas_12 % 12)>= 0 and (horas_12%12) <= 13:
      notation = "A.M"
    horas_12 = (horas_12 +(round(minutos_24 / 60)))%12
    minutos_24 = minutos_24 % 60
  return [horas_12,minutos_24,notation]


horario_24 = convert24_12(horas_24,minutos_24)
print(horario_24)

Insira as horas:23
Insira os minutos:82
[0, 22, 'A.M']